nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.orange_color {
    color: #FD6E0A;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 35px;
}

.nav_title {


    font-size: 45px;
    font-style: normal;
    font-weight: 700;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;

}


/* header related style */

.header {
    background-color: #fff8f3;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .profile_pic {
    width: 584px;
}

