nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.orange_color {
    color: #FD6E0A;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 35px;
}

.nav_title {


    font-size: 45px;
    font-style: normal;
    font-weight: 700;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;

}


/* header related style */

.header {
    background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_content {
    max-width: 500px;
}

.banner .profile_pic {
    width: 584px;
}

.banner_greeting {
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
}

.banner_title {
    font-size: 80px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section style */

main {
    max-width: 1120px;
    margin: 0 auto;
}

main section {
    margin-top: 128px;
}

/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 120px 0px;
}

.section_title {
    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.section_description {
    color: #757575;
    text-align: center;
    font-size: 16px;
}

.about_info_container {
    display: flex;
    justify-content: space-around;

}

.about_info {
    text-align: center;
}

#what_i_do_description {
    padding: 30px 145px;
}

.skills_container {
    display: flex;
    justify-content: space-around;

}

.skill {
    width: 267px;
    height: 340px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 25px;
}

.resume_column_title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    
}
.resume_container {
    display: flex;
    gap: 50px;
}
.resume_item_tilte {
    color: #474747;
    font-size: 23px;
    font-weight: 600px;
    margin-bottom: 8px;
}
.resume_item_institute, .resume_item_description {
    color: #757575;
}

.resume_container hr {
    margin: 28px 28px;
}
.download_cv {
    text-align: center;
    margin-top: 48px;
}

/* footer style  */

footer {
    display: flex;
    background: #FFF8F3;
    padding: 128px 190px;
    margin-top: 90px;
}